$opacity: 0.8;
$transparentboxcolor: rgba(35, 55, 80, $opacity);
$fgtextcolor: white;

a, ul {
	color: lightblue;
}
a:hover{
	color: lightblue;
	font-weight: 600;
}
// HEADER STYLE
header {
	background-color: rgba(40, 60, 100, $opacity);
	margin: 0px;
	padding: 20px;

}
h1 {
	padding: 20px;		
	margin: 0px;	
	text-align: center;
	color: $fgtextcolor;	
}
h2 {		
	text-align: center;
	padding: 20px;
	color: $fgtextcolor;
	font-weight: bold;
}
h3, h4 {
	text-align: center;	
	color: $fgtextcolor;
}
// NAVBAR STYLE
nav.navbar {
	background-color: rgba(5, 5, 5, $opacity);
}
.nav-item {
	padding: 10px;	
	font-weight: 500;
}

@media (min-width: 600px) {
	body {
		background-image: url("img/background.jpg");
		background-size: cover;
	}
	h1::before {
        content: "Welcome to Sebastian's Personal Web Page!";
    }
    h1 {
    	font-size: 45px;	
    }
    h2 {
    	font-size: 35px;	
    }
    .nav-item {
		padding: 10px;
		font-size: 25px;
	}
} 

@media (max-width: 599px) {
	body {
		background-image: url("img/backgroundVertical.jpg");
		background-size: cover;
	}
	h1::before {
        content: "Sebastian's Web!";
    }
    h1 {
    	font-size: 30px;
    }
    h2 {
    	font-size: 20px;
    }
    .nav-item {
		padding: 5px;
		font-size: 15px;
	}
}
// HOME PAGE STYLE
#presentation {		
	div.row {
		div {			
			background-color: $transparentboxcolor;
			margin: 20px;	
			padding: 20px;						
			p {				
				text-align: justify;				
				font-weight: 450;
				color: $fgtextcolor;
			}
		}
	}

}
// INTERESTS PAGE STYLE
ol {
	h3 {		
		text-align: left;
	}
}
#interests{
	padding: 20px;
	ol > div {				
		background-color: $transparentboxcolor;
		margin: 10px;	
		padding: 50px;						
		p {				
			text-align: justify;				
			font-weight: 450;
			color: $fgtextcolor;
		}
	}
}
#gallery {
	margin-top: 10px;
	padding: 2px;
	div.row{
		padding: 5px;
		div{
			margin: 5px;
		}
	}
}

// CONTACT PAGE STYLE

#contact {
	div.row {
		div {
			background-color: $transparentboxcolor;
			text-align: center;
			margin: 20px;
			padding: 20px;	
			color: $fgtextcolor;		
		}
	}
}


